################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ApiSep
/ApiSep.Bl/obj
/ApiSep.Dal/obj/Debug
/ApiSep.ErrorLogger/bin/Debug
/ApiSep.ErrorLogger/obj/Debug
/ApiSep.Exchange/obj/Debug
/ApiSep.Library/obj/Debug
/ApiSep.MailHub/obj/Debug
/Wcf/ApiSep.Wcf/obj
/Wcf/ApiSep.Wcf/bin
/ApiSep.Bl/bin/Debug
/ApiSep.Dal/bin/Debug
/ApiSep.Exchange/bin/Debug
/ApiSep.Library/bin/Debug
/ApiSep.MailHub/bin/Debug
