<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="ApiSepEntities" connectionString="metadata=res://*/Entities.ApiSepModel.csdl|res://*/Entities.ApiSepModel.ssdl|res://*/Entities.ApiSepModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ApiSep;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>